* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: AGL, sans-serif;
  src: url(/font/AGLettericaCondensedBold/AGLettericaCondensed.ttf);
}

p {
  font-size: 20px;
  color: rgb(252, 238, 10);
  font-weight: 400;
  margin-bottom: 0 !important;
}
span {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 240, 255);
}
label{
  margin-bottom: 0 !important;
}
h5 {
  font-size: 16px !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
}

a:hover {
  color: rgb(0, 240, 255);
}
.main {
  background-color: black;
  height: 100%;
  position: relative;
}
.main .nav nav {
  border-bottom: 3px solid rgb(252, 238, 10);
  margin-top: 15px;
  padding-bottom: 10px;
}
.main nav .logo {
  display: none;
}
.main header button {
  background: rgb(252, 238, 10);
  border: none;
  width: 99px;
  height: 100%;
  gap: 5px;
  border-radius: 5px;
  margin-right: 20px;
}
.main header .search {
  border: 1px solid rgb(252, 238, 10);
  height: 100%;
  border-radius: 5px;
}
.main header .search input {
  background: none;
  border: none;
  width: 100%;
  color: rgb(252, 238, 10);
}
.main header .search ::-moz-placeholder {
  color: rgb(83, 78, 0);
  font-size: 16px;
  font-weight: 400;
}
.main header .search ::placeholder {
  color: rgb(83, 78, 0);
  font-size: 16px;
  font-weight: 400;
}
.main header .search :focus {
  outline: none;
}
.main header .headermenu {
  gap: 6px;
}
.main header .headermenu p {
  font-size: 16px;
}
.main header .headermenu p img {
  margin-right: 5px;
}
.main header .headermenu :nth-child(3) img {
  margin-right: 8px;
}
.main header .headermenu .count {
  position: absolute;
  top: 0;
  left: 10px;
  width: 14px;
  height: 14px;
  background-color: rgb(252, 238, 10);
  border-radius: 50%;
  font-size: 11px;
}
.icon_header{
    min-height: 1px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 40px;
}
.width_search{
  padding-right: 0 !important;
    padding-left: 0 !important;
}
.header_bottom .dropdown-menu {
  border-radius: 5px !important;
  border: 1px solid rgb(252, 238, 10) !important;
  padding: 10px 10px;
  inset: -3px auto auto -88px !important;
}
.btn-header {
  color: rgb(0, 240, 255) !important;
  font-size: 20px;
  border: none;
}

section {
  margin-top: 20px;
}
section .navigation a {
  font-size: 14px;
  font-weight: 400;
  color: rgb(252, 238, 10);
  text-decoration: none;
}
section .navigation a:last-child {
  color: rgb(83, 78, 0);
}
section .navigation p {
  font-size: 30px;
  font-weight: 700;
}
.dropdown-menu {
  position: absolute !important;
  inset: 9px auto auto -78px !important;
  margin: 0px;
  transform: translate3d(0px, 44px, 0px);
  width: 234px;
  border: 3px solid rgb(252, 238, 10) !important;
  border-radius: 0px !important;
  -webkit-backdrop-filter: blur(6px) !important;
          backdrop-filter: blur(6px) !important;
  background: none !important;
}

.dropdown-menu.show {
  display: block !important;
}

.dropdown-menu a {
  color: rgb(252, 238, 10);
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu li {
  margin-bottom: 9px;
}

.dropdown-menu img {
  margin-right: 8px;
}

.dropdown-menu li:hover a {
  color: rgb(0, 240, 255);
  text-decoration: none;
}

.dropdown-menu li:hover svg {
  fill: rgb(0, 240, 255);
}
.btn-group .btn {
  color: rgb(252, 238, 10) !important;
  font-size: 20px;
  border: none;
}
footer {
  margin-top: 100px;
}
footer p {
  font-size: 18px;
}
footer .footer_top {
  border-bottom: 3px solid rgb(252, 238, 10);
  padding: 20px 0;
}
footer .footer_bottom {
  padding-top: 20px;
}
footer .footer_bottom .date {
  padding: 20px 0;
}
footer .footer_bottom span {
  font-size: 18px;
  padding-bottom: 20px;
}
footer .footer_bottom .title {
  margin-bottom: 15px;
}
footer .footer_bottom ul {
  padding-left: 0px !important;
  margin-bottom: 0 !important;
}
footer .footer_bottom ul li a {
  color: rgb(252, 238, 10);
  text-decoration: none;
  font-size: 18px;
}
footer .footer_bottom .connection p {
  font-size: 16px;
}
footer .footer_bottom .connection .phone {
  gap: 20px;
}
footer .footer_bottom .connection input {
  background: none;
  border: none;
  color: rgb(252, 238, 10);
  height: 47px;
  border-bottom: 1px solid rgb(83, 78, 0);
}
footer .footer_bottom .connection ::-moz-placeholder {
  color: rgb(83, 78, 0);
  font-size: 16px;
  font-weight: 400;
}
footer .footer_bottom .connection ::placeholder {
  color: rgb(83, 78, 0);
  font-size: 16px;
  font-weight: 400;
}
footer .footer_bottom .connection :focus {
  outline: none;
}
footer .footer_bottom .connection button {
  background-color: rgb(252, 238, 10);
  border: none;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
}
.panel{
  ul{
    padding: 0 !important;
    margin: 0 !important;
    gap: 24px;
  }
  li{
    width: 245px;
    height: 245px;
    border: 1px solid rgb(252, 238, 10);
    border-radius: 5px;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    a{
      text-decoration: none;
      cursor: pointer;
      margin-top: 24px;
    }
    p{
      padding: 0 5px;
    }
  }
}
.slider_box{
  .title{
    p{
      font-size: 30px;
    font-weight: 700;
    
    }
    margin-bottom: 20px;
  }
}
.splide__pagination {
  display: none !important; 
}
.splide__arrow{
  border: 3px solid rgb(252, 238, 10) !important;
  background: black !important;
  opacity: 1 !important;
  width: 40px !important;
  height: 40px !important;
}
.splide__arrow:disabled {
  opacity: -0.7 !important;
}
.splide__arrow svg {
  fill: rgb(252, 238, 10) !important;
  height: 1.2em;
  width: 1.2em;
}
.smartphone{
  width: 231px;
    height: 184px;
    border: 1px solid rgb(252, 238, 10);
    border-radius: 5px;
    padding: 30px;
    h4{
      font-size: 18px;
      color: rgb(252, 238, 10);
      font-weight:  700 !important;
      margin-bottom: 20px !important;
    }
    img{
      top: 30px;
      right: 20px;
      width: 50px;
      height: 50px;
    }
}
@media (min-width: 1101px) and (max-width: 1269px){
  .main header .search {
    border: 1px solid rgb(252, 238, 10);
    height: 100%;
    border-radius: 5px;
    margin-left: 25px;
    width: clamp(192px, 30%, 100%) !important;
  }
  .headermenu{
    width: 396px !important;
}
.nav_main{
  width: 600px !important;
}
.phone_widht{
  width: 211px !important;
  gap: 20px;
}
.nav_left{
  &.col-lg-10 {
    flex: 0 0 auto;
    width: 78% !important;
}
}
.flex_header{
  .logo{
    img{
      width: 111px;
    }
  }
}
.main header button{
  margin-right: 0;
}
}
@media (min-width: 768px) and (max-width: 1100px){
  .splide__arrows{
    display: none !important;
  }
  .panel{
    ul{
      flex-direction: column;
      gap: 15px;
      li{
        .title{
          padding-bottom: 15px;
        }
        a{
          margin-top: 0;
        }
        img{
          &.none{
            display: none;
          }
        }
        width: 100%;
        height: max-content;
        border: none;
        border-bottom:  1px solid rgb(252, 238, 10) !important;
        border-radius: 0;
        align-items: start;
        p{
          padding: 0;
        }
      }
    }
  }
  section .navigation p {
    font-size: 26px !important;
    font-weight: 700;
}
.slider_box{
  
  .title{
    p{
      font-size: 20px !important;
      font-weight: 700;
    }
    margin-bottom: 20px;
  }
}
  .btn-group{
    display: none !important;
}
.btn-group .btn {
    display: none !important;
}
.nav_main p{
    display: none !important;
  }
  .nav_main .logo {
    display: block;
}
.nav_main .logo img{
    width: 146px;
}
.nav_left{
    justify-content: start !important;
    &.justify-content-lg-center {
      justify-content: start !important;
    }
}
.phone_widht{
    justify-content: end !important;
}
.phone_widht img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
header .logo {
    display: none !important;
}
header button {
    width: 38px !important;
    height: 38px !important;
}
header button h5{
    display: none;
}
.headermenu{
    display: none !important;
}
.search .photo img{
    margin: 5px;
}
.internet{
  gap: 20px;

}
.internet .icon{
  gap: 10px;
}
footer a,footer p{
  font-size: 14px !important;
}
.kabinet.d-lg-flex {
  display: block !important;
}
.slider.mt-lg-0 {
  margin-top: 1rem!important;
}
footer .footer_bottom {
  padding-top: 20px;
  padding-bottom: 78px;
}
.bottom_menu {
  display: block;
}
footer {
  .foot-wrap{
    flex-wrap: wrap;
  }
}
.main .nav nav {
  border-bottom: none;
}
.main nav .logo {
  display: block;
}
.flex_header{
  flex-wrap: nowrap !important;
  &.mt-3{
    margin-top: 0 !important;
  }
}
}
@media (min-width: 320px) and (max-width: 767px){
  nav{
    .exit{
      width: 10px;
    }
  }
  section .navigation p {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}
.navig{
  display: flex;
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
}
.slider_box .title p {
  font-size: 26px;
  font-weight: 700;
}
  .splide__arrows{
    display: none !important;
  }
  .panel{
    margin-top: 10px;
    ul{
      flex-direction: column;
      gap: 15px;
      li{
        .title{
          padding-bottom: 15px;
        }
        a{
          margin-top: 0;
        }
        img{
          &.none{
            display: none;
          }
        }
        width: 100%;
        height: max-content;
        border: none;
        border-bottom:  1px solid rgb(252, 238, 10) !important;
        border-radius: 0;
        align-items: start;
        p{
          padding: 0;
        }
      }
    }
  }
  .main nav .logo {
    display: block;
}
  p{
    font-size: 16px;
}
.nav_main p{
    display: none !important;
  }
  .nav_main .logo {
    display: block;
}
.nav_main .logo img{
    width: 100px;
}
.nav_left{
    justify-content: start !important;
    width: 83px !important;
}
.phone_widht {
  width: 173px !important;
  img{
    margin-right: 8px;
  }
}
header .logo {
    display: none !important;
}
header button {
    width: 38px !important;
    height: 38px !important;
}
header button h5{
    display: none;
}
.headermenu{
    display: none !important;
}
.icon_header{
    width: 68px !important;
}
.flex_header{
    flex-wrap: nowrap !important;
    &.mt-3{
      margin-top: 0 !important;
    }
}
.width_search{
    width: 100% !important;
}
.main header .search {
    width: 100%;
}

nav{
  .btn{
    display: none;
  }
}
.internet{
    flex-wrap: wrap;
    width: 200px;
    p{
      font-size: 16px !important;
    }
    .icon{
      gap: 10px;
    }
}
.buyer{
    width: 50% !important;
}
.buyer div:nth-child(2){
    display: block !important;
}
.buyer ul:nth-child(2) {
    width: 100%;
}
.photo{
  padding: 0 10px;
}
.main .nav nav {
  border-bottom: none;
}
.about_company{
    width: 50% !important;
}
footer .footer_bottom ul li a {
    color: rgb(252, 238, 10);
    text-decoration: none;
    font-size: 15px;
}
.connection{
    margin-top: 40px !important;
}
.connection p{
    font-size: 14px !important;
}
footer{
  .logo {
    img{
      width: 146px;
    }
  }
  form{
    input{
      width: 100%;
      margin-right: 17px;
    }
  }
}
.footer_top{
  justify-content: space-between !important;
}
}
@media (min-width: 992px) and (max-width: 1100px){
  .internet{
    padding-right: 0 !important;
      padding-left: 0 !important;
  }
      .btn-group{
          display: none !important;
      }
      .bottom_menu {
          display: block;
      }
      footer .footer_bottom {
          padding-top: 20px;
          padding-bottom: 78px;
      }
      .nav_left{
          width: 200px !important;
          &.justify-content-lg-center {
            justify-content: start !important;
          }
      }
      .nav_left.justify-content-lg-center {
          justify-content: start !important;
      }
      .phone_widht{
          width: 202px !important;
          justify-content: end;
      }
      .icon_header{
          width: 63px !important;
      }
      .headermenu.d-lg-flex {
          display: none !important;
      }
      .search{
          width: 871px !important;
      }
      .sign{
          width: 936px !important;
      }
}
.modal-body p:nth-child(1){
  margin-bottom: 15px !important;
}
.modal-body p:nth-child(2){
  margin-bottom: 15px !important;
}
.modal-body .form{
  position: relative;
}
.modal-body .form img{
cursor: pointer;
}

.modal-body .form .about{
  width: 334px;
height: 96px;
position: absolute;
border-radius: 5px;
background-color: rgba(0, 240, 255, 1);
padding: 17px;
right: -310px;
z-index: 1;
top: 37px;
}
.modal-body .form .about p{
font-size: 16px;
font-weight: 700;
line-height: 21px;
color: black;
}
.modal-content {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
color: var(--bs-modal-color);
pointer-events: auto;
background-color: rgb(252, 238, 10) !important;
background-clip: padding-box;
border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
border-radius: 3px !important;
outline: 0;
}
.modal-header {
display: flex;
flex-shrink: 0;
align-items: baseline !important;
}
.modal-dialog {
display: flex !important;
max-width: 100% !important;
margin-right: auto;
margin-left: auto;
justify-content: center !important;
margin: 100px !important;
}
.modal-header{
border-bottom: 0 !important;
}
.modal-content {
width: 375px !important;
}
.modal h1.fs-5 {
font-size: 24px !important;
font-weight: 700;
}
.modal{
backdrop-filter: blur(3px);
}
.modal-body form input{
border: none;
outline: none;
background: none;
width: 310px;
color: black;
font-weight: 500;
}
.modal-body form input::placeholder{
font-size: 18px;
color: rgb(83, 78, 0);
}
.modal-body form input:focus{
outline: none;
}
.modal-body .form{
border-bottom: 1px solid rgba(83, 78, 0, 1);
padding-bottom: 10px;
}
.modal-body button{
width: 100%;
border: none;
background: url('/svg/btnbg.svg')no-repeat center;
height: 132px;
color: rgb(252, 238, 10);
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
padding-left: 68px;
background-size: contain;
}
.modal-body button img{
left: 13px;
top: 48px;
}
.modal-body p{
color: rgba(10, 10, 10, 1);
font-size: 16px;
}
.modal-body  a{
color: black;
font-weight: 700;
padding: 15px 0;
}
.modal-body p:nth-child(1){
margin-bottom: 15px !important;
}
.modal-body p:nth-child(2){
margin-bottom: 15px !important;
}
.modal-body .form{
position: relative;
}
.modal-body .form img{
cursor: pointer;
}

.modal-body .form .about{
width: 334px;
height: 96px;
position: absolute;
border-radius: 5px;
background-color: rgba(0, 240, 255, 1);
padding: 17px;
right: -310px;
z-index: 1;
top: 37px;
}
.modal-body .form .about p{
font-size: 16px;
font-weight: 700;
line-height: 21px;
color: black;
}
.splide__slide .cardbox .rating {
  margin: 25px 0 15px;
  &.gap-3{
    gap: 8px !important;
  }
  div{
    &.gap-2{
      gap: 4px !important;
    }
  }
}
.splide__list{
  gap: 20px;
}
.splide__slide{
  width: max-content !important;
  height: max-content !important;
  .cardbox{
    width: 261px;
    height: max-content;
    border: 1px solid rgb(252, 238, 10);
    border-radius: 5px;
    padding: 15px;
    .closee{
      top: 3px;
      right: 3px;
      cursor: pointer;
    }
    .img{
      margin-bottom: 20px;
    }
    .price{
      p{
        font-weight: 700;
      }
    }
    .kredit{
      margin: 5px 0 10px;
      p{
        font-size: 14px;
        font-weight: 400;
      }
    }
    button{
      background: transparent;
      border: none;
      &.heart{
        background: url('/svg/heart.png')no-repeat center;
        background-size: contain;
        width: 25px;
        height: 21px;
        border: none;
        position: relative;
      }
    }
    .rating{
      margin: 25px 0 15px;
      span{
        font-size: 16px;
        font-weight: 400;
      }
      .fa{
        font-size: 16px;
        color: rgb(83, 78, 0);
        &.checked{
          color: rgb(252, 238, 10);
        }
      }
    }
    p{
      font-size: 18px;
      line-height: 1.3;
    }
    .geekmark {
      width: 16px;
      height: 16px;
      border: 1px solid rgb(252, 238, 10);
    }
    input[type=checkbox]{
      margin: 0 !important;
      width: 16px;
      height: 16px;
    }
    .geekmark:after {
      left: 4px;
      bottom: 2px;
      width: 6px;
      height: 12px;
      border: solid black;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
  }
  }
}
input[type=checkbox] {
  visibility: hidden;
}
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: black;
  border: 3px solid #fcee0a;
  border-radius: 5px;
}
/* Specify the background color to be
shown when checkbox is active */
.main:hover input ~ .geekmark {
  background-color: black;
  
  
}
.check{
  gap: 10px;
  margin-top: 20px;
}
.main input:active ~ .geekmark {
  background-color: #fcee0a;
}

/* Specify the background color to be
shown when checkbox is checked */
.main input:checked ~ .geekmark {
  background-color: #fcee0a;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
  display: block;
}
.main_check{
  position: relative;
  margin-top: 5px;
}
.main .geekmark:after {
  left: 4px;
  bottom: 2px;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type='checkbox']{
  width: 20px;
height: 20px;
 /* Add if not using autoprefixer */
 -webkit-appearance: none;
 /* For iOS < 15 to remove gradient background */
 background-color: black;
 /* Not removed via appearance */
 margin: 0;
border: 1px solid #fcee0a;
}
input[type="checkbox"]::before {
  /* ...existing styles */

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.likes{
  button{
    &.heart_icon{
      &.active{
        svg{
          fill: rgb(252, 238, 10);
        }
      }
    }
    &.btn_korzina{
      margin-left: 15px;
      &:hover{
        path{
          stroke: rgb(0, 240, 255);
        }
        .korzina_hover{
          display: flex !important;
        }
      }
    }
  }
  .cart{
    svg{
      &:hover{
        path{
          stroke: rgb(0, 240, 255);
        }
      }
      
    }
  }
  .korzina_hover{
    display: none !important;
    width: 153px;
    height: 39px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    background: rgb(0, 240, 255);
    z-index: 1;
    top: 14px;
    right: 27px;
  }
}